<div> {{ city }} </div>
<div> {{ weather }} </div>
<div> {{ temp }} </div>

<app-weatherdata></app-weatherdata>

<ul>
  <li>
    <div>
      <p> Today <p>
          <p class="this-day-forecast">cloudy</p>
          <p class="this-day-outreach-method">text</p>
    </div>
  </li>
  <li>
    <div>
      <p> Tomorrow <p>
          <p class="this-day-forecast">cloudy</p>
          <p class="this-day-outreach-method">text</p>
    </div>
  </li>
  <li>
    <div>
      <p> Day 3 <p>
          <p class="this-day-forecast">cloudy</p>
          <p class="this-day-outreach-method">send text</p>
    </div>
  </li>
  <li>
    <div>
      <p> Day 4 <p>
          <p class="this-day-forecast">cloudy</p>
          <p class="this-day-outreach-method">text</p>
    </div>
  </li>
  <li>
    <div>
      <p> Day 5 <p>
          <p class="this-day-forecast">cloudy</p>
          <p class="this-day-outreach-method">text</p>
    </div>
  </li>
</ul>
